.Board {
    display: grid;
    grid-template-columns: 40vw 55vw;
    grid-template-rows: auto auto;
}
.AvailableLettersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ChosenLettersContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    letter-spacing: 10px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: fit-content;
    margin: 10px;
    min-height: 100px;
}
.HangmanCharacter {
    text-align: center;
    width: 100%;
    letter-spacing: 5px;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: fit-content;
    margin: 10px;
}
.hangmanImg {
    width: 50%;
}